{
  "root": true,
  "extends": ["@flowx/eslint-config-flowx/react"],
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [".eslintrc", "tsconfig.json"]
}
