NODE_ENV=development

# MongoDB configuration
MONGO_USER=mongodb user - development version
MONGO_PASSWORD=mongodb password - development version
MONGO_DATABASE_NAME=mongodb database name - development version
MONGO_HOST=mongodb host provider url - development version
MONGO_PORT=mongodb port provider - development version

# Redis configuration
REDIS_HOST=redis host provider url - development version
REDIS_PORT=redis port provider - development version

# App config
API_PORT=3000
API_HOST=0.0.0.0
API_ORIGIN=localhost:3030

# Web config
VITE_API_PORT=3000
VITE_API_HOST=http://localhost
VITE_API_ENABLE_PORT=true