NODE_ENV=production

# MongoDB configuration
MONGO_USER=mongodb user
MONGO_PASSWORD=mongodb password
MONGO_DATABASE_NAME=mongodb database name
MONGO_HOST=mongodb host provider url
MONGO_PORT=mongodb port provider

# Redis configuration
REDIS_HOST=redis host provider url
REDIS_PORT=redis port provider

# App config
API_PORT=3000
API_HOST=0.0.0.0
API_ORIGIN=localhost:3030

# Web config
VITE_API_PORT=3000
VITE_API_HOST=http://localhost
VITE_API_ENABLE_PORT=true