{
  "root": true,
  "extends": [
    "@flowx/eslint-config-flowx/vue"
  ],
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": "./tsconfig.json"
    //    extraFileExtensions: ['.vue']
  },
  "ignorePatterns": [
    ".eslintrc",
    "tsconfig.json"
  ]
}
