{
  "root": true,
  "extends": [
    "@flowx/eslint-config-flowx"
  ],
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    ".eslintrc",
    "tsconfig.json"
  ]
}
